#home_page_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#home_page_wrapper .news_section_wrapper, #home_page_wrapper .forum_section_wrapper {
  display: flex;
  flex-direction: column;
  width: 950px;
  padding: 5px;
}

#home_page_wrapper .news_section_wrapper header.news_section_header {
  display: flex;
  align-items: center;
  width: 940px;
  padding: 0px 5px;
  height: 36px;
  background-color: #272e43;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 18pt;
}

#home_page_wrapper .news_section_wrapper main.news_section_main {
  display: flex;
  width: 940px;
  padding: 5px;
  flex-wrap: wrap;
}

#home_page_wrapper .news_section_wrapper main.news_section_main .news_post {
  display: flex;
  flex-direction: column;
  width: 230px;
  min-height: 320px;
  border: 1px solid lightgray;
  background-color: #e5e5e5;
  margin: 5px 1.5px;
}

#home_page_wrapper .news_section_wrapper main.news_section_main .news_post .news_post_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  background-color: #f5f5f5;
}

#home_page_wrapper .news_section_wrapper main.news_section_main .news_post .news_post_text {
  display: flex;
  flex-direction: column;
  width: 222px;
  padding: 2px 4px;
}

#home_page_wrapper .news_section_wrapper main.news_section_main .news_post .news_post_text .news_post_title {
  display: block;
  font-size: 15pt;
  font-weight: bold;
  width: 222px;
  margin-top: 3px;
  margin-bottom: 5px;
}

#home_page_wrapper .news_section_wrapper main.news_section_main .news_post .news_post_text .news_post_title a {
  color: black;
}

#home_page_wrapper .news_section_wrapper main.news_section_main .news_post .news_post_text .news_post_descr {
  display: block;
  font-size: 13.75pt;
  width: 222px;
}

#home_page_wrapper .forum_section_wrapper header.forum_section_header {
  display: flex;
  align-items: center;
  width: 940px;
  padding: 0px 5px;
  height: 36px;
  background-color: #272e43;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 18pt;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main {
  display: flex;
  width: 940px;
  padding: 5px;
  flex-wrap: wrap;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post {
  display: flex;
  flex-direction: column;
  width: 230px;
  border: 1px solid lightgray;
  background-color: #f5f5f5;
  margin: 5px 1.5px;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 222px;
  padding: 4px 4px;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text .forum_post_title {
  display: block;
  font-size: 15pt;
  font-weight: bold;
  width: 222px;
  margin-top: 3px;
  margin-bottom: 5px;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text .forum_post_title a {
  color: black;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text .forum_post_info {
  display: flex;
  justify-content: space-between;
  font-size: 13pt;
  font-weight: bold;
  width: 222px;
  margin-top: 3px;
  margin-bottom: 5px;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text .forum_post_info a {
  color: black;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text .forum_post_info .vote_positive {
  color: green;
}

#home_page_wrapper .forum_section_wrapper main.forum_section_main .forum_post .forum_post_text .forum_post_info .vote_negative {
  color: lightcoral;
}
