$main_shadow: 0 4px 16px RGBA(0,0,0,40%);
$main_width: 50%;

$header_height: 62px;
$strip_menu_padding: 8.4px;

$main_color_bright: #e0e0e0;
$text_color_bright: #bebebe;
$main_color_dark: #091023;
$list_hover_color_dark: #272e43;