@import "base";

header {
    width: 100%;
    height: 62px;
    display: flex;
    flex: 60% row;
    background: $main_color;
    z-index: 1000;
    box-shadow: $main_shadow;
}

.strip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $main_width;
}