@import "base";

/*========Header=========*/

header {
    width: 100%;
    height: $header_height;
    display: flex;
    flex-basis: 60%;
    justify-content: center;
    background: $main_color_dark;
    z-index: 1000;
    position: fixed;
    box-shadow: $main_shadow;
}

.strip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $main_width;
}

.strip_logo {
    position: relative;
    left: 3.33%;
}

.strip_menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    height: $header_height;
    width: 54.16%;
    font-size: 20pt;
    li {
        padding: 0 $strip_menu_padding;
    }
    li:hover {
        background: $list_hover_color_dark;
    }
    li:last-of-type {
        padding: 0;
    }
    a {
        color: $text_color_bright;
        text-decoration: none;
        height: $header_height;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.strip_user {
    width: 72px + $strip_menu_padding;
    height: $header_height;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    img {
        width: 36px;
        border-radius: 18px;
    }
    .user_arrow {
        position: relative;
        height: 8px;
        width: 16px;
        text-align: center;
        //padding: 12px;
    }
    .user_arrow:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 75%;
        width: 50%;
        background: $text_color_bright;
        transform: skew(0deg, 22.5deg);
    }
    .user_arrow:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 75%;
        width: 50%;
        background: $text_color_bright;
        transform: skew(0deg, -22.5deg);
    }
    .user_menu_box {
        display: flex;
        position: absolute;
        top: $header_height;
        width: inherit;
        .user_menu {
            width: 100%;
        }
    }
}
