<!DOCTYPE html>
<html lang={LANG}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main_template/main.css">
    <title>{TITLE}</title>
</head>
<body>
    <header>
        <div class="strip">
            <a href="/" class="strip_logo"><img src="../images/rcs_logo.128px.png" alt="RCS_Logo"></a>
            <ul class="strip_menu"></ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="main_body"></div>
        <footer></footer>
    </div>
</body>
</html>