<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main_template/main.css">
    <title>Главная страница | RussianCraft Studios</title>
</head>
<body>
    <header>
        <div class="strip">
            <a href="/" class="strip_logo"><img src="../images/rcs_logo.128px.png" alt="RCS_Logo"></a>
            <ul class="strip_menu">
                <li><a href="#">Поиск</a></li>
                <li><a href="./?page=production">Продукция</a></li>
                <li><a href="./forum/">Форум</a></li>
                <li><a href="./faq.php">О нас</a></li>
                <li><div class="strip_user">
                    <img src="../images/logged_out.png" alt1="logged_out" class="user_ava">
                    <div class="user_arrow"></div>
                    <div class="user_menu_box">
                        <ul class="user_menu">
                            <li><a href="">Профиль</a></li>
                            <li><a href="">Настройки</a></li>
                            <li><a href="">Поддержка</a></li>
                            <li><a href="">Выход</a></li>
                        </ul>
                    </div>
                </div></li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="main_body"></div>
        <footer>
            <div class="footer_top">
                <span class="engine_title">RCSE v.000.0</span>
                <span class="site_contacts"><a href="./faq.php?contacts">Контакты</a></span>
                <span class="engine_date">2018.xx.xx</span>
            </div>
            <div class="footer_bottom">
                    <span class="site_copyright" title="При копировании ссылка на источник обязательна!">&copy; 2018 RussianCraft Studios</span>
            </div>
        </footer>
    </div>
</body>
</html>