@import "base";

#reg_form_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;    

    form {
        width: $form_width;
        border: 1px solid lightgray;

        header.reg_form_header {
            display: flex;
            align-items: center;
            width: $form_width - 10px;
            padding: 0px 5px;
            height: 36px;
            background-color: $light_black;
            color: $bright_gray;
            font-weight: bold;
            font-size: 18pt;
        }

        div {
            margin: 5px 3px;
            width: 100%;

            label {
                display: block;
            }

            .form_input {
                width: $form_width - 14px;
                padding: 2px;
                margin-bottom: 10px;
            }

            .form_check {
                display: inline-block;
                padding: 2px;
                margin-bottom: 10px;
            }

            .form_check_label {
                display: inline-block;
            }
        }

        div.form_button_container {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                margin: 0;
                width: 200px;
                margin-bottom: 5px;

                .form_submit, .form_reset {
                    display: inline-block;
                    font-size: 14pt;
                    border: none;
                    background-color: $light_black;
                    color: $bright_gray;
                    padding: 5px;
                }

                .form_submit:hover, .form_reset:hover {
                    background-color: $lighter_black;
                    cursor: pointer;
                }
            }

            .form_register {
                width: 200px;
                font-size: 14pt;
                border: none;
                background-color: $light_black;
                color: $bright_gray;
                padding: 5px;
            }

            .form_register:hover {
                background-color: $lighter_black;
                cursor: pointer;
            }
        }

        div.form_radio_container {
            display: flex;
            flex-direction: row;
            justify-content: center;

            div {
                width: 50%;
                display: inline-flex;
                justify-content: center;

                input {
                    margin-right: 4px;
                }
            }
        }
    }
}